


<h1>Your product</h1>

<!--
<div ng-repeat="item in items">
    <span>{{item.title}}</span>
    <input ng-model="item.quantity" />
    <span>{{item.price | currency}}</span>
    {{item.price * item.quantity | currency}}<button ng-click="remove($index)">Remove</button>
</div>
-->

<div class="page-header">
  <center> <h1>food list</h1></center>
</div>
<div id="allmap" style="height:400px;width: 800px;margin-left: 30%"></div>

<script type="text/javascript">
    // 百度地图API功能

</script>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>No</th>
                <th>applicant</th>
                <th>coordinates</th>
                <th>address</th>
                <th>fooditems</th>
            </tr>
            </thead>

            <tbody>
            <div >
                <tr data-ng-repeat="item in items " >
                    <td>{{$index}}</td>
                     <td>{{item.applicant}}</td>
              <td>{{item.location.coordinates }}</td>
              <td>{{item.address }}</td>

                  <td>{{item.fooditems }}</td>
              <!--  <td>{{item.business}}</td>
                <td>{{item.location_1.coordinates }}</td>
                <td>{{item.location_1_city }}</td>

                    <td>{{item.zipcode }}</td>-->

                   <!-- <button class="btn btn-link" ng-click="remove($index)">Remove</button> <button class="btn btn-link" ng-click="remove($index)">update</button>
                 put-order="ScopedInterventionMatchesService.putOrder(item)"
                 -->

                   <!-- <td></td>-->

            </tr>
            </div>
            </tbody>

        </table>

    </div>
{{orders}}

</div>
